<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="profile" class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <div class="row">
    <%= form_for @profile, url: profile_path, method: :put do |f| %>

      <div class="col-lg-3">
        <!-- Profile picture card-->
        <div class="card">
          <h4 class="card-header">
            Profile Picture
          </h4>
          <div class="card-body text-center">
            <div class="picture-container">
              <div class="picture">
                <img src="<%= @profile.avatar.url %>" class="picture-src" id="wizardPicturePreview" title="">
                <%= label :profile, :avatar, 'Avatar' %>
                <%= f.file_field :avatar%>
<!--                , id: "wizard-picture"-->
              </div>
              <h4 class="">Choose Picture</h4>

            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <!-- Account details card-->
        <div class="card">
          <h4 class="card-header">
            Account Details
            <% if is_admin? %>
            <span style="float: right; margin-right: 3%;">Role: admin</span>
            <% end %>
          </h4>
          <div class="card-body">
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-4">
                <!--                <label class="small mb-1" for="first_name">First name</label>-->
                <%= label :profile, :first_name, 'First Name' %>
                <%= f.text_field :first_name, class: "form-control" , placeholder: "Enter your first name", value: @profile.first_name %>
                <!--                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="<%#= @profile.first_name %>">-->
              </div>
              <div class="col-md-4">
                <%= label :profile, :middle_name, 'Middle Name' %>
                <%= f.text_field :middle_name, class: "form-control", placeholder: "Enter your middle name", value: @profile.middle_name %>
                <!--                <input class="form-control" id="inputMiddleName" type="text" placeholder="Enter your middle name" value="<%#= @profile.middle_name %>">-->
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-4">
                <%= label :profile, :last_name, 'Last name' %>
                <%= f.text_field :last_name, class: "form-control", placeholder: "Enter your last name", value: @profile.last_name %>
                <!--                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="<%#= @profile.last_name %>">-->
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <%= label :profile, :email, 'Email address' %>
                <%#= f.email_field :email, class: "form-control", placeholder: "Enter your email address", value: @profile.user.email %>
                <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address", value: @profile.user.email %>

                <!--                <input class="form-control" id="email" type="email" placeholder="Enter your email address" value="<%#= @profile.user.email %>">-->
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <%= label :profile, :phone, 'Phone number' %>
                <%= f.telephone_field :phone, class: "form-control",  value: @profile.phone || nil %>
                <!--                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="<%#= @profile.phone %>">-->
              </div>
            </div>

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <%= label :profile, :gender, 'Gender' %>
                <!--                <input class="form-control" id="inputGender" type="text" placeholder="Enter your gender" value="Male">-->
                <%= f.select :gender, options_for_select(["Prefer not to say", "Male", "Female"], @profile.gender), {}, class: "form-control" %>
                <!--                <select class="form-control" name="gender" id="gender" value="1">-->
                <!--                  <option value="0" <%#= "selected" if @profile.gender == 0 %>>Prefer not to say</option>-->
                <!--                  <option value="1" <%#= "selected" if @profile.gender == 1 %>>Male</option>-->
                <!--                  <option value="2" <%#= "selected" if @profile.gender == 2 %>>Female</option>-->
                <!--                </select>-->
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <!--                <label class="small mb-1" for="birth">Birthday</label>-->
                <%= label :profile, :birth, 'Birthday' %>
                <div class="input-group date" data-date-format="yyyy-mm-dd" data-provide='datepicker'>
                  <%= f.text_field :birth, class: "form-control", placeholder: "yyyy-mm-dd", value: @profile.birth %>
                  <!--                  <input  type="text" name="birth" id="birth" class="form-control" placeholder="yyyy-mm-dd">-->
                  <div class="input-group-addon" >
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
                <!--                <label class="small mb-1" for="inputBirthday">Birthday</label>-->
                <!--                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">-->
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-12">
                <!--                <label class="small mb-1" for="preference">Preferences</label>-->
                <%= label :profile, :preference, 'Preferences' %>
                <%= f.text_area :preference, class: "form-control", placeholder: "Enter your preferences", value: @profile.preference %>
                <!--                <textarea class="form-control" id="inputPreference"  placeholder="Enter your preferences" ></textarea>-->
              </div>
            </div>
            <!-- Save changes button-->

          </div>
        </div>
      </div>
      <button class="btn btn-primary save-change" type="submit">Save changes</button>
    <% end %>
  </div>
</div>
</body>
</html>