<!--  app/views/restaurants/show.html.erb -->
<h2>Details about <em><%= @restaurant.name %></em></h2>

<ul id="details">
  <li>
    Rating:
    <%= @restaurant.rating %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @restaurant.details %>
</p>

<table class="table table-striped col-md-12" id="reviews">
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.user_id %>
        </td>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= review.created_at %>
        </td>
        <td>
          <%= review.comment %>
        </td>
        <td>
          <%= link_to "Learn more", review_path(review) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag review_path, method: :post do %>
    <%= label :review, :rating, 'Rating', class: 'col-form-label'  %>
    <%= select :review, :rating, ['1','2','3','4','5'], {}, {class: 'form-control col-1'} %>
    <%= label :review, :comment, 'Comment', class: 'col-form-label' %>
    <%= text_field :review, 'Comment', class: 'form-control' %>
    <br/>
    <%= submit_tag 'Submit review', class: 'btn btn-primary' %>
  <% end %>


<table class="table table-striped col-md-12" id="timeslot">
  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td>
          <%= timeslot.owner %>
        </td>
        <td>
          <%= timeslot.start_time %>
        </td>
        <td>
          <%= link_to "Join", timeslot_path(timeslot,:status=>"active") %>
        </td>
        <td>
          <%= link_to "Exit", timeslot_path(timeslot,:status=>"inactive") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= flash[:notice] %></div>


<div class="row" id="end">
  <%= link_to 'Back to restaurant list', root_path, class: 'btn btn-primary col-2' %>
</div>
