<!--  app/views/restaurants/show.html.erb -->
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>
<h2>Details about <em><%= @restaurant.name %></em></h2>

<ul id="details">
  <li>
    Rating:
    <%= @restaurant.rating %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @restaurant.details %>
</p>

<table class="table table-striped col-md-12" id="reviews">
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.user_id %>
        </td>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= review.created_at %>
        </td>
        <td>
          <%= review.comment %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if session[:user_id]  %>
  <%= form_tag reviews_path, :id => 'add_reviews', method: :post do %>
    <%= label :review, :rating, 'Rating', class: 'col-form-label'  %>
    <%= select :review, :rating, ['1','2','3','4','5'], {}, {class: 'form-control col-1'} %>
    <%= label :review, :comment, 'Comment', class: 'col-form-label' %>
    <%= text_field :review, :comment, class: 'form-control' %>
    <br/>
    <%= submit_tag 'Submit review', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<table class="table table-striped col-md-12" id="timeslot">
  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td>
          <%= timeslot.user_id %>
        </td>
        <td>
          <%= timeslot.start_time %>
        </td>
        <% if timeslot.start_time < @current  %>
          <td>
          <%= 'Completed' %>
          </td>
        <% elsif timeslot.start_time == @current %>
          <td> 
          <%= 'In-progress' %>
          </td>
        <% else %>
          <td>
          <%= 'Upcoming' %>
          </td>
        <% end %>
        <% if session[:user_id] == timeslot.user_id %>
          <td>
            <%= link_to 'Destroy', timeslots_delete_path(timeslot), method: :delete, data: { confirm: 'Are you sure?' }, id: timeslot.user_id.to_s+"_Delete" %>
          </td>
          <td>
            <%= link_to 'My profile', timeslots_path, method: :delete, data: { confirm: 'Are you sure?' }, id: timeslot.user_id.to_s+"_Delete" %>
          </td>
        <% else %>
          
          <% if Guest.where(:timeslot_id => timeslot.id).size == 6 %>
            <td>
            <%= 'Full' %>
            </td>
          <% elsif Guest.where(:timeslot_id => timeslot.id , :user_id =>session[:user_id] ).size == 0 %>
            <% if session[:user_id]  %>
              <td>
              <%= link_to "Join", timeslot_path(timeslot,:status=>"active"), id: timeslot.user_id.to_s+"_Join" %>
              </td>
            <% end %>
          <% end %>

          <% if Guest.where(:timeslot_id => timeslot.id , :user_id =>session[:user_id] ).size >= 1 %>
            <td>
              <%= link_to "Exit", timeslot_path(timeslot,:status=>"inactive") , id: timeslot.user_id.to_s+"_Exit" %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= flash[:notice] %></div>

<% if session[:user_id]  %>
  <%= form_tag timeslots_path, :id => 'add_timeslots', method: "post" do %>
    <label for="start_time">Start time</label>
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' name="start_time"  class="form-control" />
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <script type="text/javascript">
        $(function () {
          $('#datetimepicker1').datetimepicker({
            inline: true,
            sideBySide: true
          });
        });
    </script>
    <input type="submit" class="btn btn-primary" value="Create a slot" />
  <% end %>
<% end %>
<div class="row" id="end">
  <%= link_to 'Back to restaurant list', root_path, class: 'btn btn-primary col-2' %>
</div>
