<%= form_for(@timeslot) do |f| %>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.text_field :restaurant_id, value: @restaurant_id%>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :max_number %><br>
    <%= f.text_field :max_number %>
  </div>
  <%= f.label :start_time %><br>
  <div class='input-group date' id='datetimepicker1'>
    <input type='text' name="start_time"  class="form-control" />
    <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary col-2'%>
  </div>
<% end %>
