<h2>Details about timeslot </h2>

<ul id="details"></ul>

<table class="table table-striped col-md-12" id="timeslot">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Owner</th>
      <th>Start Time</th>
      <th>Maximum</th>
      <th>Guests</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
        <%= Restaurant.find(@timeslot.restaurant_id).name %>
    </td>
    <td>
        <%= User.find(@timeslot.user_id).username %>
    </td>
    <td>
        <%= @timeslot.start_time %>
    </td>
    <td>
        <%= @timeslot.max_number %>
    </td>
    <td>
        <% @guests.each do |guest|  %>
            <td><%= User.find(guest.user_id).username %></td>   
        <% end %>
    </td>
    </tr>
  </tbody>
</table>

<div class="row" id="end">
  <%= link_to 'Back to restaurant detail list', restaurant_path(@timeslot.restaurant_id), class: 'btn btn-primary col-2' %>
</div>
